<section class="handy-home">
  <section id="banner" class="handy-home-banner jarallax" ng-style="{'background-image': 'url('+ MAC.lan_backgroundimg+')'}">
    <div class="container">
      <div class="banner-content">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h2 class="main-title">{{MAC.lan_bannername}}</h2>
            <h5 class="sub-title">{{MAC.lan_bannerdes}}</h5>
          </div>
          <div class="col-sm-12 col-xs-12">
            <div class="search-wrap">
              <div class="search-wrap-inner">
                <form name="searchform" class="frm-fields" submit-validate role="form" novalidate>
                  <div class="main-cat-search" ng-class="{ 'has-error' : searchform.searchfield.$invalid && !searchform.searchfield.$pristine, 'has-success' : searchform.searchfield.$valid && !searchform.searchfield.$pristine}">
                    <ui-select name="parent" focus-on="UiSelectParentCategory" ng-model="MAC.searchData.service.parent" theme="selectize" on-select="MAC.getsubcategory(MAC.searchData.service.parent._id, 'service')"
                               class="" title="Choose a Category">
                      <ui-select-match placeholder="{{'CHOOSE A CATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="item in MAC.service_categories | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="sub-cat-search">
                    <ui-select name="child" ng-model="MAC.searchData.service.child" theme="selectize" ng-click="MAC.onfocusSubCat('service')" class="" title="Choose a Subcategory">
                      <ui-select-match placeholder="{{'CHOOSE A SUBCATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="sub_category in MAC.sub_categories.service | filter: $select.search">
                        <div ng-bind-html="MAC.createTreeView(sub_category) | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="btn-search">
                    <button type="submit" class="btn btn-block" ng-click="MAC.search(MAC.searchData.service)">{{'SEARCH_SERVICES' | translate}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12" ng-if="MAC.product_categories && MAC.product_categories.length">
            <div class="search-wrap">
              <div class="search-wrap-inner">
                <form name="searchform" class="frm-fields" submit-validate role="form" novalidate>
                  <div class="main-cat-search" ng-class="{ 'has-error' : searchform.searchfield.$invalid && !searchform.searchfield.$pristine, 'has-success' : searchform.searchfield.$valid && !searchform.searchfield.$pristine}">
                    <ui-select name="parent" focus-on="UiSelectParentCategory" ng-model="MAC.searchData.product.parent" theme="selectize" on-select="MAC.getsubcategory(MAC.searchData.product.parent._id, 'product')"
                               class="" title="Choose a Category">
                      <ui-select-match placeholder="{{'CHOOSE A CATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="item in MAC.product_categories | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="sub-cat-search">
                    <ui-select name="child" ng-model="MAC.searchData.product.child" theme="selectize" ng-click="MAC.onfocusSubCat('product')" class="" title="Choose a Subcategory">
                      <ui-select-match placeholder="{{'CHOOSE A SUBCATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="sub_category in MAC.sub_categories.product | filter: $select.search">
                        <div ng-bind-html="MAC.createTreeView(sub_category) | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="btn-search">
                    <button type="submit" class="btn btn-block" ng-click="MAC.search(MAC.searchData.product)">{{'SEARCH_PRODUCTS' | translate}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="handy-home-overview">
    <div class="container">
      <div class="handy-home-overview-inner">
        <div class="row">

          <div class="col-sm-4 col-xs-12" ng-repeat="postheader in MAC.postheader">
            <img src="{{postheader.image}}" class="img-responsive">
            <h2 class="main-title">{{postheader.title}}</h2>
            <p class="sub-title">{{postheader.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <a ui-sref="morecategories({slug:0})" class="btn btn-post-task">{{'POST_TASK_HERE' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section ng-controller="SlickController" class="handy-home-testimonials jarallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h2 class="section-title"> {{'WHAT_PEOPLE_SAYING' | translate}} </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <slick settings="slickbrand">
            <div class="testimonials-wrap" ng-repeat="people in MAC.peoplecomment">
              <img class="author-image" src="{{people.image}}">
              <div class="testimonials-content">
                <p class="">{{people.description}}
                </p>
                <h3 class="author-name">{{people.name}} / <span class="highlight">{{people.profession}}</span></h3>
              </div>
            </div>
          </slick>
        </div>

      </div>
    </div>
  </section>
  <!-- shop-ads -->

  <!--On Sale Now Starts-->
  <section class="handy-home-payment">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 payment-heading">
          <h2 class="section-title">{{'PAYMENT_PRICING' | translate}}</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="payment in MAC.paymentprice">
          <div class="payment-method">
            <img src="{{payment.image}}" alt="payment icons">
            <h4>{{payment.seo.title}}</h4>
            <p>{{payment.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="handy-home-gallery hme-glry">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h2 class="section-title">{{'HIRE FOR A RANGE' | translate}}</h2>
        </div>
        <div class="cvr-dv col-md-12 col-sm-12 col-xs-12">
          <div class="spcf-dv col-md-4 col-sm-4" ng-repeat="categoryinfo in MAC.filtered_service_categories">
            <div class="pro1">
              <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                <div class="pro-pict">
                  <img ng-if="categoryinfo.image !=''" src="{{categoryinfo.image}}" err-src alt="gallery">
                  <img ng-if="categoryinfo.image ==''" src="uploads/images/homepage/gallery1.png" alt="gallery">
                </div>
                <div class="cat-txtt">
                  <span>{{categoryinfo.name}}</span>
                </div>
              </a>
            </div>

          </div>
        </div>

        <div class="text-center morebtn-wrap">
          <button type="button" ng-if="MAC.service_categories && MAC.service_categories.length > 6" ui-sref="morecategories({slug:0})" class="btn btn-default view-more ">{{'VIEW_MORE' | translate}}</button>
        </div>
      </div>
    </div>
  </section>

  <section class="handy-home-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="sub-sections">
            <h2 class="section-title">{{'NEWS_LETTER_SUBSCRIPTION' | translate}}</h2>
            <p>{{'NEWS_LETTER_SUBSCRIPTION_UPDATE_DESCRIPTION' | translate}}</p>
            <div class="sub-email">
              <form name="subscriptionForm" submit-validate role="form" enctype="multipart/form-data" novalidate>
                <div class="group-control">
                  <input ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/" name="email" id="email" ng-model="MAC.email"
                         placeholder="{{'Enter your email address' | translate}}" class="form-control" required>
                  <span style="color:red;" ng-show="subscriptionForm.email.$error.pattern">{{'INVALID EMAIL' | translate}}</span>
                  <div class="text-center">
                    <button type="button" ng-click="MAC.subscription(subscriptionForm, MAC.email)" class="btn btn-default subscribes">{{'Subscribe' | translate}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="handy-home-address"  ng-if="rc.getsetting.location && rc.getsetting.siteaddress">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h2 class="section-title">{{rc.getsetting.siteaddress}}</h2>
          <div class="map location" ng-if="rc.getsetting.location">
            <ng-map id="map" zoom="15" center="[40.74, -74.18]" zoom="2">
              <marker position="{{rc.getsetting.location}}" title="{{rc.getsetting.location}}" animation="Animation.BOUNCE" centered="true"></marker>
            </ng-map>
          </div>
        </div>
      </div>

    </div>
  </section>
  <script>
    $(document).ready(function (){
      var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

      $("#banner").css({ "height": h });

      $(window).resize(function () {
        var h = window.innerHeight|| document.documentElement.clientHeight || document.body.clientHeight;
        $("#banner").css({"height":h});
      });

      setTimeout(function () {
        $('.jarallax').jarallax({
          speed: 0.2
        });
      }, 10);
    });
  </script>
</section>
