<!--controller name: AvailabilityModalInstanceCtrl-->
<div class="availabilities-day-form adminweekmodal">
	<div class="">
		<div class="">
			<div class="modal-header modal-header-success">
				<!--<button class="close" type="button" ng-click="cancel()">×</button>-->
				<h1 class="day-text"> {{WorkingDays.day | translate}}</h1>
			</div>
			<div class="modal-body">
				<ul class="radio-contr">
					<li ng-repeat="(key, item) in availabilities track by item.name">
						<input ng-model="WorkingDays.hours[key]" id="{{item.name}}" class="u-hidden" type="checkbox" name="windowFields" value="windowFields">
						<label class="switch" for="{{item.name}}"></label>
						<label for="{{item.name}}">{{item.name | translate}}</label>
					</li>
					<!--<li>-->
						<!--<input id="evenig" class="u-hidden" type="checkbox" value="morning" name="windowFields">-->
						<!--<label class="switch" for="evenig"></label>-->
						<!--<label for="evenig"> {{days[0].afternoon | translate}} ({{workingTimes.afternoon.from}} - {{workingTimes.afternoon.to}})</label>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input id="afternoon" ng-model="WorkingDays.hour.evening" class="u-hidden" type="checkbox" value="morning" name="windowFields">-->
						<!--<label class="switch" for="afternoon"></label>-->
						<!--<label for="afternoon">{{days[0].evening | translate}} ({{workingTimes.evening.from}} - {{workingTimes.evening.to}})</label>-->
					<!--</li>-->
				</ul>
			</div>
			<div class="modal-footer">
				<button style="color:green" type="button" class="btn btn-default pull-left" ng-click="ok()">{{days[0].Save | translate}} </button>
				<button style="color:grey" type="button" class="btn btn-default pull-right" ng-click="cancel()">{{'CANCEL' | translate}} </button>

			</div>
		</div>
	</div>
</div>'
