<!--controller name: accountsCtrl-->
<div role="tabpanel" class="tab-pane cat-tab" id="Transactions">
  <div class="account-section">
    <span>{{'CATEGORY' | translate}}</span>
    <button type="button" class="btn btn-default" ng-click="ACC.categoryModal()">{{'ADD_CATEGORY' | translate}}</button>
  </div>
  <div ng-if="!ACC.usercategories.length" class="emptyfie">
    <span>{{'NOTHING_ADDED_IN_THIS_LIST' | translate}}</span>
  </div>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}"
             close="closeAlert($index)">{{alert.msg}}
  </uib-alert>
  <div class="admn-details" ng-repeat="category in ACC.usercategories">
    <li>
      <span class="verifyimg_new"></span>
      <span>{{category.childid.name}}&nbsp;&nbsp;
        <l ng-if="category.status == 1" style="color:green">({{'VERIFIED' | translate}})</l>
        <l ng-if="category.status == 2" style="color:red">({{'NOT VERIFIED' | translate}})</l> &nbsp;&nbsp;
        <l ng-if="category.demand_name" style="color:#bf0101; font-weight: bold">{{category.demand_name}}</l>
      </span>
      <a href="#" ng-click="ACC.imageModal(category.childid._id)" class="cat-image">{{'IMAGES' | translate}}</a>&nbsp;&nbsp;
      <a href="#" ng-click="ACC.categoryModal(category.childid._id)" class="cat-edit">{{'EDIT' | translate}}</a>&nbsp;&nbsp;
      <a href="#" ng-click="ACC.deletecategory(category.childid._id,category.childid.name)" class="cat-delete">{{'DELETE' | translate}}</a>
    </li>
  </div>
</div>
<style>
  .cat-image {
    color: #00a9ff!important;
  }
  .cat-image:before {
    content: "\f1c5";
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0px 3px;
  }
</style>