<section>
  <div class="dashboard dashboardtop hirestep1">
    <div class="container2">
      <div class="rightcntne">
        <h4>{{'FIND_A_TASKER_FOR' | translate}} {{ TAC.taskbaseinfo.SubCategoryInfo.name}} <a href="#" ng-click="TAC.changeCategory()"> {{'CHANGE'| translate}}</a></h4>
        <span class="basedtext">{{'BASED_ON_THE_DETAILS_ENTERED_BELOW' | translate}} .</span>
      </div>
    </div>
  </div>
</section>
<section>
  <form name="taskbaseinfo" submit-validate novalidate>
    <div class="hirestep1 ">
      <div class="container2">
        <div class="task-spcd">
          <div class="task-spcd col-sm-12">
            <span class="tas-list">{{'YOUR_LOCATION' | translate}}</span>
            <div style="display: table; width: 100%">
              <div style="display: table-cell; width: 50%; vertical-align: middle">
                <span>({{'WHERE_YOU_ARE_LOCATED' | translate}})</span>
              </div>
              <div style="display: table-cell; width: 50%">
                <label ng-if="TAC.isAvailableAtUserLocation == 1" class="cont-tex "><i ng-if="TAC.isAvailableAtUserLocation == 1" class="fa fa-check " style="font-size: 23px; margin-right: 10px"></i>{{'GOOD_NEWS' | translate}} {{rc.title}} {{'IS_AVAILABLE_IN_YOUR_AREA' | translate}}</label>
                <label style="color:red" ng-if="TAC.isAvailableAtUserLocation == 0" class="cont-tex"><i ng-if="TAC.isAvailableAtUserLocation != 1" class="fa fa-times  " style="font-size: 23px; margin-right: 10px"></i>{{'WE ARE SORRY YET WE DONT HAVE TASKER IN YOUR AREA' | translate}}</label>
              </div>
            </div>
            <div class="selectadd col-sm-4">
              <a class="btn icon-btn " href="#" ng-click="TAC.editAddress()">
                <span class="fa fa-plus add-icon" style="font-size:36px"></span>
                <span class="add-txt">  {{'ADD_ADDRESS' | translate}}</span>
              </a>
            </div>
            <div>
              <div ng-if="TAC.userAddressList" ng-repeat="address in TAC.userAddressList track by $index" class="selectadd col-sm-4">
                <div class="shipping-address">
                  <div class="seleted-addr">
                    <input type="radio" ng-model="TAC.filter.user_address_index" ng-click="TAC.onUserAddressChanged(TAC.filter.user_address_index)" ng-value="$index" name="selectaddress"
                           title="Select Address " data-toggle="tooltip" data-placement="top" tooltip class="addr-selc">
                    <div class="check">
                      <div class="inside"></div>
                    </div>
                  </div>
                  <p ng-if="address.status == 3" class="sel-addr cur-addr"><button type="button" ng-click="TAC.updateAddressStatus(address._id, false)" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                                                                   style="width:30px;" title="Default Address " data-toggle="tooltip" data-placement="top" tooltip><i class="fa fa-check"></i></button><span>{{'DEFAULT_ADDRESS' | translate}}</span></p>
                  <p ng-if="address.status == 1" class="sel-addr"><button type="button" ng-click="TAC.updateAddressStatus(address._id, false)" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                                                          style="width:30px;" title="Change to Preferred Address " data-toggle="tooltip" data-placement="top" tooltip><i class="fa fa-check "></i></button><span>{{'MAKE_AS_DEFAULT_ADDRESS' | translate}}</span></p>
                  <div class="setPriority">
                    <p class="ng-binding"><strong>{{'STREET_ADDRESS' | translate}}</strong>:<span ng-if="address.line1"> {{address.line1}}</span>
                      <span ng-if="address.street"> ,{{address.street}}</span><span ng-if="address.landmark"> ,{{address.landmark}}</span></p>
                    <p ng-if="address.locality" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.locality}}</p>
                    <p ng-if="address.city" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.city}}</p>
                    <p class="ng-binding"><strong>{{'STATE' | translate}}</strong>: {{address.state}}</p>
                    <p class="ng-binding"><strong>{{'ZIPCODE' | translate}}</strong>: {{address.zipcode}}</p>
                  </div>
                  <button type="button" class="edit_address button_se" ng-hide="$index == TAC.filter.user_address_index" ng-click="TAC.editAddress($index)">
                    <i class="fa fa-edit"></i> {{'EDIT' | translate}}
                  </button>
                  <button type="button" class="button_se" ng-hide="$index == TAC.filter.user_address_index" ng-click="TAC.deleteAddress($index, false)">
                    <i class="fa fa-trash"></i> {{'DELETE' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="task-spcd ">
            <span class="tas-list"> {{'TELL_US_ABOUT_YOUR_DEMAND' | translate}}</span>
            <div class="hidnig">
              <textarea name="description" placeholder="{{'ADDITIONAL_INSTRUCTION_TO_TASKER' | translate}}." required ng-model="TAC.filter.description"></textarea>
              <span style="color:red" ng-show="taskbaseinfo.description.$invalid && !taskbaseinfo.description.$pristine">{{'TASK DETAILS IS REQUIRED'|translate}}.</span>
            </div>
          </div>
          <div class="task-spcd col-sm-12">
            <span class="tas-list">{{'DELIVERY_LOCATION' | translate}}</span>
            <div style="display: table; width: 100%">
              <div style="display: table-cell; width: 50%; vertical-align: middle">
                <span>({{'WHERE_SERVICE_OR_GOODS_SHOULD_BE_DELIVERED' | translate}})</span>
              </div>
              <div style="display: table-cell; width: 50%">
                <label ng-if="TAC.isAvailableAtDeliveryLocation == 1" class="cont-tex "><i ng-if="TAC.isAvailableAtDeliveryLocation == 1" class="fa fa-check " style="font-size: 23px; margin-right: 10px"></i>{{'GOOD_NEWS' | translate}} {{rc.title}} {{'IS_AVAILABLE_IN_YOUR_AREA' | translate}}</label>
                <label style="color:red" ng-if="TAC.isAvailableAtDeliveryLocation == 0" class="cont-tex"><i ng-if="TAC.isAvailableAtDeliveryLocation != 1" class="fa fa-times  " style="font-size: 23px; margin-right: 10px"></i>{{'WE ARE SORRY YET WE DONT HAVE TASKER IN YOUR AREA' | translate}}</label>
              </div>
            </div>
            <div class="selectadd col-sm-4">
              <a class="btn icon-btn " href="#" ng-click="TAC.editDeliveryAddress()">
                <span class="fa fa-plus add-icon" style="font-size:36px"></span>
                <span class="add-txt">  {{'ADD_ADDRESS' | translate}}</span>
              </a>
            </div>
            <div>
              <div ng-if="TAC.userAddressList && TAC.userAddressList.length && TAC.filter.user_address_index != -1" class="selectadd col-sm-4">
                <div class="shipping-address">
                  <div class="seleted-addr">
                    <input type="radio" ng-model="TAC.filter.delivery_address_index" ng-click="TAC.onDeliveryAddressChanged(TAC.filter.delivery_address_index)" value="-1" name="selectaddress"
                           title="Select Address " data-toggle="tooltip" data-placement="top" tooltip class="addr-selc">
                    <div class="check">
                      <div class="inside"></div>
                    </div>
                  </div>
                  <p class="sel-addr">
                    <span>{{'MY_SELECTED_LOCATION' | translate}}</span>
                  </p>
                  <div class="setPriority">
                    <p class="ng-binding"><strong>{{'STREET_ADDRESS' | translate}}</strong>:<span ng-if="TAC.userAddressList[TAC.filter.user_address_index].line1"> {{TAC.userAddressList[TAC.filter.user_address_index].line1}}</span>
                      <span ng-if="TAC.userAddressList[TAC.filter.user_address_index].street"> ,{{TAC.userAddressList[TAC.filter.user_address_index].street}}</span><span ng-if="TAC.userAddressList[TAC.filter.user_address_index].landmark"> ,{{TAC.userAddressList[TAC.filter.user_address_index].landmark}}</span></p>
                    <p ng-if="TAC.userAddressList[TAC.filter.user_address_index].locality" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{TAC.userAddressList[TAC.filter.user_address_index].locality}}</p>
                    <p ng-if="TAC.userAddressList[TAC.filter.user_address_index].city" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{TAC.userAddressList[TAC.filter.user_address_index].city}}</p>
                    <p class="ng-binding"><strong>{{'STATE' | translate}}</strong>: {{TAC.userAddressList[TAC.filter.user_address_index].state}}</p>
                    <p class="ng-binding"><strong>{{'ZIPCODE' | translate}}</strong>: {{TAC.userAddressList[TAC.filter.user_address_index].zipcode}}</p>
                  </div>
                  <div>
                    <span class="green-title">{{'MY_SELECTED_LOCATION' | translate}}</span>
                  </div>
                </div>
              </div>

              <div ng-if="TAC.deliveryAddressList" ng-repeat="address in TAC.deliveryAddressList track by $index" class="selectadd col-sm-4">
                <div class="shipping-address">
                  <div class="seleted-addr">
                    <input type="radio" ng-model="TAC.filter.delivery_address_index" ng-click="TAC.onDeliveryAddressChanged(TAC.filter.delivery_address_index)" ng-value="$index" name="selectaddress"
                           title="Select Address " data-toggle="tooltip" data-placement="top" tooltip class="addr-selc">
                    <div class="check">
                      <div class="inside"></div>
                    </div>
                  </div>
                  <p ng-if="address.status == 3" class="sel-addr cur-addr"><button type="button" ng-click="TAC.updateAddressStatus(address._id, true)" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                                                                   style="width:30px;" title="Default Address " data-toggle="tooltip" data-placement="top" tooltip><i class="fa fa-check"></i></button><span>{{'DEFAULT_ADDRESS' | translate}}</span></p>
                  <p ng-if="address.status == 1" class="sel-addr"><button type="button" ng-click="TAC.updateAddressStatus(address._id, true)" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                                                          style="width:30px;" title="Change to Preferred Address " data-toggle="tooltip" data-placement="top" tooltip><i class="fa fa-check "></i></button><span>{{'MAKE_AS_DEFAULT_ADDRESS' | translate}}</span></p>
                  <div class="setPriority">
                    <p class="ng-binding"><strong>{{'STREET_ADDRESS' | translate}}</strong>:<span ng-if="address.line1"> {{address.line1}}</span>
                      <span ng-if="address.street"> ,{{address.street}}</span><span ng-if="address.landmark"> ,{{address.landmark}}</span></p>
                    <p ng-if="address.locality" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.locality}}</p>
                    <p ng-if="address.city" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.city}}</p>
                    <p class="ng-binding"><strong>{{'STATE' | translate}}</strong>: {{address.state}}</p>
                    <p class="ng-binding"><strong>{{'ZIPCODE' | translate}}</strong>: {{address.zipcode}}</p>
                  </div>
                  <button type="button" class="edit_address button_se" ng-hide="$index == TAC.filter.delivery_address_index" ng-click="TAC.editDeliveryAddress($index)">
                    <i class="fa fa-edit"></i> {{'EDIT' | translate}}
                  </button>
                  <button type="button" class="button_se" ng-hide="$index == TAC.filter.delivery_address_index" ng-click="TAC.deleteAddress($index, true)">
                    <i class="fa fa-trash"></i> {{'DELETE' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="hidnig">
              <div class="btn-holder">
                <input class="bluebtn" ng-disabled="!taskbaseinfo.$valid" ng-click="TAC.searchTasker()" value="{{'CONTINUE' | translate }}"
                       type="submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
